<div fxLayoutAlign="center center">

  <mat-card>
    <div fxLayout="column" fxLayoutAlign="center center">
<mat-card-header>
  <mat-card-title>
    <button mat-icon-button class="button">
      <i class="material-icons">account_box</i>
    </button>
    Contact</mat-card-title>
</mat-card-header>
    <mat-form-field>
      <input matInput placeholder="First name">
    </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Last Name">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Email">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Street address">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Postal code">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="City">
  </mat-form-field>
      <button mat-raised-button color="primary">Create contact</button>
    </div>
</mat-card>
</div>
