/*
.form-detail {
  width: 200px;
}

.width-detail {
  width: 500px;
}
*/

.form-card {
  width: 300px;
}

.fabDetail {
  float: right;
  margin-top: 10px;
}

.button {
  border: none;
  background: transparent;
}
